@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-image: url(../Images/bg-3.jpg);
    background-size: cover;
    background-position: center;    
    background-attachment: fixed;    
    background-repeat: no-repeat;   
    height: 100vh;                  
    margin: 0; 
}

::-webkit-scrollbar{
    height: 50px;
    width: 5px;
   
}

::-webkit-scrollbar-track{
    background: #1f1f1f;
}

::-webkit-scrollbar-thumb{
    background: #ec4899; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #db2777; 
  }
  